# MySQL操作
## 安装mysql
1. 在官网: MySQL Community Edition https://dev.mysql.com/downloads/mysql/
2. 如果提示没有 ```.NET Framework``` 框架。那么就在提示框中找到下载链接，下载一个就可以了。
3. 如果提示没有 ```Microsoft Virtual C++ x64(x86)``` ，那么百度或者谷歌这个软件安装即可。

## navicat:
navicat是一个操作mysql数据库非常方便的软件。使用他操作数据库，就跟使用excel操作数据是一样的。
## 安装驱动程序
Python要想操作MySQL。必须要有一个中间件，或者叫做驱动程序。驱动程序有很多。比如有 ```mysqldb``` 、 ```mysqlclient``` 、 ```pymysql``` 等。在这里，我们选择用 ```pymysql``` 。 安装方式也是非常简单，通过命令 ```pip install pymysql``` 即可安装。
## 数据库连接：
数据库连接之前。首先先确认一下工作完成，这里我们以一个 ```pymysql_test``` 数据库以下将介绍连接 ```mysql``` 的示例代码：

In [5]:
import pymysql
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)
cursor = conn.cursor()

# 测试一下是否连接成功
cursor.execute("select *")
result = cursor.fetchone()
print(result)

conn.close()

(1,)

## 插入数据：

In [7]:
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()
# insert into user(id, username, age, password) values(2, 'bbb', 20, '111111')
# 这里的主键：id 必须要唯一，不能重复

sql = """
insert into user(id, username, age, password) values(2, 'bbb', 20, '111111')
"""
cursor.execute(sql)
conn.commit()

conn.close()

In [8]:
# 如果要插入的信息是变量
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()

# id=null, 就会默认增长
# 在这个语句里，所有的变量都得写成%s，因为pymysql会把所有东西都处理成字符串
sql = """
insert into user(id, username, age, password) values(null, %s, %s, %s)
"""
# 变量
username = 'spider'
age = 21
password = '12345'
# 传入参数
cursor.execute(sql, (username, age, password))
conn.commit()

conn.close()

## 查找数据：
使用 ```pymysql``` 查询数据，可以使用 ```fetch``` 方法。
1. ```fetchone()``` : 这个方法每次只获取一条数据。
2. ```fetchall()``` : 这个方法接受全部的返回结果。
3. ```fetchmany(size)``` : 可以获取指定条数的数据。

### fetchone()

In [19]:
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()

# select username, age from user where id=1
sql = """
select username, age from user where id=3
"""
cursor.execute(sql)
result = cursor.fetchone() #fetchone 找出一条
print(result)

# select * from user
sql = """
select * from user
"""
cursor.execute(sql)
result = cursor.fetchone() #fetchone 第一次找第一条
print(result)
result = cursor.fetchone() #fetchOne 第二次找第二条
print(result)

conn.close()

('spider', 21)
(1, 'aaa', 18, '111111')
(2, 'bbb', 20, '111111')

In [22]:
# 找出所有
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()
sql = """
select * from user
"""
cursor.execute(sql)
while True:
    result = cursor.fetchone()
    if result:
        print(result)
    else: #if null
        break
conn.close()

(1, 'aaa', 18, '111111')
(2, 'bbb', 20, '111111')
(3, 'spider', 21, '12345')

### fetchall()

In [25]:
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()
sql = """
select * from user
"""
cursor.execute(sql)
results = cursor.fetchall() #fetchall 找出所有
for result in results:
    print(result)
conn.close()

(1, 'aaa', 18, '111111')
(2, 'bbb', 20, '111111')
(3, 'spider', 21, '12345')

### fetchmany(size)

In [28]:
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()
sql = """
select * from user
"""
cursor.execute(sql)
results = cursor.fetchmany(2) #fetchmany 找出指定数量
for result in results:
    print(result)
conn.close()

(1, 'aaa', 18, '111111')
(2, 'bbb', 20, '111111')

## 删除数据：

In [29]:
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()
sql = """
delete from user where id=1
"""
cursor.execute(sql)
# 插入、删除、更新都需要执行commit操作
conn.commit()

conn.close()

## 更新数据：

In [30]:
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='Aa0650133',
                       database='pymysql_demo',
                       port=3306)

cursor = conn.cursor()
sql = """
update user set username='aaa' where id=2
"""
cursor.execute(sql)
conn.commit()

conn.close()